.checkout{
}
.cono-cart{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cono-cart h1{
    margin-top: 20px;
    color: rgb(33, 42, 58);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sec-devider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
     width: 320px;
     background-color: rgb(28, 29, 44);
     height: 150px;
     border-radius: 4px;
     text-align: center;
}
.payment p{

    margin-bottom: 30px;
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.payment button{
    border: none;
    outline: none;
    background-color: rgb(202, 139, 37);
    color: black;
    font-weight: bolder;
    padding: 6px 10px;
    text-align: center;
}
.cart-head{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cart-head img{
    margin-top: 20px;
    width: 350px;
}
.cart-head h2{
    padding: 4px 10px;
    background-color: rgb(216, 216, 216);
    color: rgb(51, 47, 90);
    margin: 10px;
}
.co-cart-body{
    display: flex;  
}