.home{
  max-width: 1400px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.home .home-banner{
  width: 100%;
  max-height: 400px;
  z-index: -1;
}
.products-list{
    justify-content: space-evenly;
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}
