.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-logo-link{

}
.login-logo{
    margin-left: -26px;
    width: 110px;
}
.container-login{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(211, 211, 211, 0.527);
    width: 280px;
    overflow: hidden;
}
.container-login h1{
    margin: 10px 0px 0px 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-login{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}
.login-form{
    margin-left: 20px;
    width: 85%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.login-form span{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.753);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin: 15px 0px 3px 0px;
}
.login-form input{
    padding-left: 3px;
    height: 1.7rem;
    width: 100%;
    border: 2px solid rgb(78, 78, 78);
    outline: 0px;
}
.login-form button{
    margin-left: 2px;
    padding: 5px 0px;
    margin-top: 20px;
    width: 100%;
    border: 2px solid rgb(58, 49, 43);
    outline: none;
    background-color: orange;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.container-login p{
    margin: 11px 0px 5px 20px;
    width: 85%;
    font-size: 11px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.767);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-login .c-f-but{
    padding: 6px 0px;
    width: 85%;
    margin: 12px 0px 20px 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(32, 97, 170);
}

.login-form button:hover{
    background-color: rgb(201, 157, 37);
    color: rgb(255, 255, 255);
}
.container-login .c-f-but:hover{
 color: white;
    background-color: rgb(27, 108, 122);
}